* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./images/table.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#top {
    display: flex;
    align-self: flex-start;
}

#remaining {
    margin: 0;
    margin-left: 15px;
}

.card {
    width: 140px;
    height: 196px;
    margin-bottom: 50px;
    border: 2px solid black;
    border-radius: 12px;
}

.card-img {
    width: 100%;
    height: 100%;
}

.button-style {
    background-color: #F3C307;
    border: none;
    text-align: center;
    padding: 6px 12px;
    cursor: pointer;
}

#new-deck {
    font-size: 1.5rem;
    width: 150px;
    margin-bottom: 10px;
    align-self: flex-start;
}

#card-Drawn {
    padding: 15px;
    margin-top: 20px;
}

#draw {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    font-size: 25px;
}

button:disabled {
    background-color: rgb(163, 161, 161);
    cursor: not-allowed;
}